absl-py
alembic
anyio
asgiref
asttokens
astunparse
async-timeout
attrs
bcrypt
beautifulsoup4
bleach
blinker
blis
catalogue
certifi
cffi
channels
channels_redis
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
debugpy
decorator
defusedxml
distro
Django
djangorestframework
dnspython
docopt
easyocr
email_validator
exceptiongroup
executing
fastjsonschema
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fsspec
gast
google-pasta
graphviz
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
idna
imageio
ipykernel
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
jsonpickle
jsonschema
jupyter_client
jupyter_core
keras
kiwisolver
langcodes
lazy_loader
libclang
lxml
Mako
marisa-trie
Markdown
markdown-it-py
markdown2
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml-dtypes
mpmath
msgpack
mysqlclient
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
numpy
openai
opencv-python
opencv-python-headless
opt-einsum
optree
outcome
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
platformdirs
plotly
preshed
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
pymongo
PyMySQL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
PySocks
pytesseract
python-bidi
python-dateutil
python-dotenv
pytz
pyvis
PyYAML
pyzmq
redis
referencing
reportlab
requests
rich
scikit-image
scikit-learn
scipy
seaborn
selenium
sentencepiece
shapely
shellingham
six
smart-open
sniffio
sortedcontainers
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
stack-data
sympy
tensorboard
tensorflow
termcolor
thinc
threadpoolctl
tifffile
tinycss2
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
typer
typing_extensions
tzdata
urllib3
wasabi
wcwidth
webencodings
websocket-client
Werkzeug
wrapt
wsproto
WTForms
yarg
zss
